/* Colors: 
    BLUE-ish -   #002635  
    WHITE-ish -  #EFE7BE
    RED-ish -    #AB1A25
    ORANGE-ish - #D97925
*/


body{
	background-color: #EFE7BE;
}

/* FOR THE MY TRIPS ACCORDION */
.card-header {
    background-color: #EFE7BE;
}

.card-body{
  background-color: #EFE7BE;
}
}

.pagination {
   justify-content: center;
}

.info, .lead .infotext{
  font-family: 'Titillium Web', sans-serif;
}

.infotext ul{
  display: inline-block;
  text-align:left;
}

li{
  list-style-type: none;
}

/* garbage button */
.delbtn{
  display: inline-block;
  text-decoration: none;
  margin: 0;
  color: #002635;
  width: 30px;
  height: 30px;
  line-height: 12px;
  border-radius: 50%;
  border: solid 2px #002635;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  cursor: pointer;
  background: #EFE7BE;
}

.delbtn:hover {
    background: #AB1A25;
}

#triptext {
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
  vertical-align: middle;
  line-height: 1px; 
  margin-top: -35px;
  margin-bottom: -10px;
  margin-left: 1px;
}
 

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


hr.menu {
  margin-top: 15px;
  margin-bottom: -1px;
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.page_header{
  color: #002635;
}

.text{
  color: black;
}

#logo{
  margin-right: 95px;
  margin-top: 5px;
}

.img-circle{
  margin-top: 10px;
  margin-bottom: -100px;
  margin-left: 1150px;   
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1000px){
    .img-circle{
        transform-origin: 50%;
    }
}

.img-oval{
  border-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.focus {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.focus:hover {
  border: 2.5px solid white;
  border-radius: 50%;
}

.upload_img{
  margin-left: 50px;
  margin-top: 10px;
}

input[type=file]{
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}


/* Input Field Width */
.form-group{
  width: 400px;
}

/* Centering the navbar options */
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.jumbotron{
	background-color: #EFE7BE;
  padding: 5em inherit;
}


/* Deleting all the label texts */
label {
    display: none;
}



/* NAVBAR STYLING */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header { width: 100%; margin-top: -10px;}

.nav-bar { display: none; }

header nav {
  background: #002635;
  z-index: 1000;
  width: 100%;
  margin: auto;
}

header nav ul { list-style: none; margin-left: 120px;}

header nav ul li {
  float: left;
  position: relative;
}

header nav:after {
  content: "";
  display: block;
  clear: both;
}

header nav ul li a {
  color: #AB1A25;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
}

header nav ul li:hover { background: #EFE7BE; }

header nav ul li:hover i { color: #AB1A25; }

header nav ul li i { margin-right: 10px; }

header nav ul li:hover .children { display: block; }

header nav ul li .children {
  display: none;
  background: #8e44ad;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .children span { display: none; }

header nav ul li .children li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ffffff99;
}

header nav ul li .children li a { margin-left: 30px; }

header nav ul li .fa-angle-down {
  position: relative;
  top: 3px;
}

/*responsive nav style*/

@media all and (max-width: 800px) {

  body { padding-top: 80px; }

  .nav-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #002635;
  }

  .nav-bar span {
    float: left;
    font-size: 20px;
    padding: 20px;
    color: #EFE7BE;
  }

  .nav-bar .fa-bars {
    display: block;
    padding: 20px;
    color: #EFE7BE;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    float: right;
  }

  header nav {
    width: 80%;
    height: auto;
    position: fixed;
    right: 100%;
    top : 63px;
    overflow: hidden;
    height: 100%;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid #EFE7BE;
    width: 100%;
  }

  header ul li a { display: block;}

  header nav ul li .children {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: none;
  }

  header nav ul li:hover .children { display: none; }

  header nav ul li ul li:first-child { border-top: 1px solid #ffffff99; }

  header nav ul li .children span {
    display: inline-block;
    margin-right: 10px;
  }

  header nav ul li .children a {
    margin-left: 10px;
    padding: 5px 0;
  }

  header nav ul li .fa-angle-down {
    position: relative;
    top: 3px;
  }
}



/* A PIN */
.pin1 {
  position: center;
  top: 40%;
  left: 40%;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: -10px;
  margin-bottom: 50px;

  border-radius: 50% 50% 50% 0;
  border: 4px solid #002635;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}

.pin1::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #002635;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #AB1A25;
 }


.active{
  background: #EFE7BE;
}



/* COOL CREATE TRIP BUTTONS */
.altbtn {
  left: 100px;
  border-radius: 4px;
  border: 2px solid #EFE7BE;
  color: #002635;
  display: inline-block;
  margin: 0 6.5em;
  overflow: hidden;
  padding: 14px 60px 24px 16px;
  position: relative;
  text-decoration: none;
  line-height: 1;
}
.altbtn .altbtn-content {
  font-size: 1em;
  line-height: 1.2;
  padding: 0 26px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
}
.altbtn .icon {
  border-left: 1px solid #002635;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
}
.altbtn .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.altbtn:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #002635;
  opacity: 0;
  transition: opacity 300ms ease;
}
.altbtn:hover .altbtn-content {
  right: 100%;
}
.altbtn:hover .icon {
  border-left: 0;
  font-size: 1.8em;
  width: 100%;
}
.altbtn:hover:after {
  opacity: 0.2;
}
.altbtn.altbtn-alt-color {
  border-color: salmon;
  color: salmon;
}
.altbtn.altbtn-alt-color .icon {
  border-left-color: salmon;
}
.altbtn.altbtn-alt-color:after {
  background-color: salmon;
}


/* Triplate Button */
.triplate {
  border-radius: 5px;
  border: 1px solid #002635;
  color: #002635;
  display: inline-block;
  margin: 0 6.5em;
  overflow: hidden;
  padding: 20px 0px 0px 0px;
  position: relative;
  text-decoration: none;
  line-height: 1;
}
.triplate .triplate-content {
  font-size: 1em;
  line-height: 1.2;
  padding: 0 60px 50px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
}

.triplate .icon {
  border-left: 1px solid #002635;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
}
.triplate .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.triplate:after {
  content: normal;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #D97925;
  opacity: 0;
  transition: opacity 300ms ease;
} 
.triplate:hover .icon {
  border-left: 0;
  font-size: 1.8em;
  width: 100%;
}
.triplate:hover:after {
  opacity: 0.2;
}
.triplate.triplate-alt-color {
  border-color: salmon;
  color: salmon;
}
.triplate.triplate-alt-color .icon {
  border-left-color: salmon;
}
.triplate.triplate-alt-color:after {
  background-color: salmon;
}


/* EDITING THE NEW COLOR SCHEME OF THE FORMS*/
.form-control {
  background-color: #EFE7BE;
}

.form-control::-webkit-input-placeholder { color: #002635; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #002635; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #002635; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #002635; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #002635; }  /* Microsoft Edge */

.form-control{
  border-color: #002635;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #D97925;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  background-color: #EFE7BE;
  outline: 0 none;
}

/* All the submit buttons */
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: #EFE7BE  ;
    background-color: #002635;
    border-color: #002635;
}
.btn-outline-primary{
  color: #002635;
  border-color: #002635;
}


/* Alerts */
.alert-danger{
  background-color: #D97925;
  color: #EFE7BE;
}

/* WEBSITE LOGO */
.site-logo{
  width: 60px;
  height: 60px;
  margin-bottom: -60px;
  margin-left: -80px;

}