<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
{% load avatar_tags %}

<html>
<head>
    <title>{% block page_title %}{% endblock page_title %}</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Bootstrap jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!--Bootstrap JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- STATIC FILES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    <script type="text/javascript" src="{% static 'js/master_js.js' %}"></script>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Small text font -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <!-- The font of the "T" of the Logo of the website -->
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">  

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


</head>
<body>

    <header>
        <!-- responsive nav bar -->
        <div class="nav-bar">
            <a href=""><i class="fa fa-bars"></i><span class="info"><img class="site-logo-small" src="{% static 'trip_images/logo.png' %}"></span></a>
        </div>
        
        <!-- navigation -->
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <div><a href="{% url 'accounts:profile' user.username %}">{% avatar user 50 class="img-circle img-responsive focus pic" %}</a></div>
                {% endif %}
                <div><a href="{% url 'home' %}"><img class="site-logo" src="{% static 'trip_images/logo.png' %}"></a></div>
                <li {% if request.path == '/' %} class="active" {% endif %} ><a href="{% url 'home' %}"><i class="fa fa-home"></i> <strong>HOME</strong></a></li>
                {% if user.is_authenticated %}
                    <li {% if "/account/create_trip/" in request.path %} class="active"{% endif %} ><a href="{% url 'accounts:create_trip' %}"><i class="fa fa-car"></i> <strong>CREATE A TRIP</strong></a></li>
                    <li {% if "/account/my_trips/" in request.path %} class="active"{% endif %} ><a href="{% url 'accounts:my_trips' %}"><i class="fa fa-list-alt"></i> <strong>MY TRIPS</strong></a></li>
                    <!-- <li {% if "/account/profile/" in request.path %} class="active"{% endif %} ><a href="{% url 'accounts:profile' user.username %}"><i class="fa fa-user"></i>  <strong>{{ user.username|upper }}</strong></a></li> -->
                    <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> <strong>LOGOUT</strong></a></li>
                {% else %}
                    <li {% if request.path == "/account/login/" %} class="active"{% endif %} ><a href="{% url 'accounts:login' %}"><i class="fa fa-arrow-right"></i> <strong>LOGIN</strong></a></li>
                    <li {% if request.path == "/account/signup/" %} class="active last"{% endif %} class="last"><a href="{% url 'accounts:signup' %}"><i class="fa fa-pencil"></i> <strong>SIGN UP</strong></a></li>
                {% endif %}
            </ul>
        </nav> <!-- navigation end -->
        
    </header> <!-- header end -->

    <!-- <hr class="menu"> -->

    <!-- CONTENT -->
    <div class='jumbotron jumbotron-fluid'>
        <div class='container-fluid'>
            {% block content %}
                
            {% endblock content %}
        </div>
    </div>
    

</body>
</html>