{% extends "base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}

	<h4 class='display-4 page_header' align='center'>Welcome to <span class="letter-t">T</span>rippy</h4>
	<div align="center">
		<p class="lead">This is a website that calculates the price of your <strong>car</strong> trips.</p>
		
		<hr width="50%">
		<p class="lead">So how to create a trip?</p>
		<div class="info">

			<p>Firstly, you'll have to <strong>SIGN UP</strong> and <strong>LOG IN</strong>. After that, 	open the <strong>CREATE A TRIP</strong> tab.</p>
			<p>Then, you'll have to choose whether you want to travel <strong>locally</strong> or <strong>internationally</strong>.</p>
			<br>
			<p><strong>This is how you have to enter the information for your trip results to be valid:</strong></p>
			<div class="infotext info">
				<ul>
					<li>Countries (in English)</li>
					<li>Towns or villages (in English)</li>
					<li>Fuel cost (in Euro)</li>
					<li>Fuel consumption (Litres per 100km, <strong>enter only the litres</strong>)</li>
				</ul>
			</div>
		
		<hr width="50%">
		</div>
		<p class="lead">Finally, you'll have a <strong>personal</strong> list of trips in your <strong>MY TRIPS</strong> tab!</p>

	</div>

{% endblock content %}